* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

#overall {
    /* border: 1px solid #ff0000; */
    width: 100vw;
    padding: 0 100px;
}

.title {
    padding: 0px 0px 8px;
    font-size: 32px;
}

.title_info {
    padding: 0px 0px 24px;
    font-size: 16px;
}

.body_wrapper {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

.body_wrapper > div {
    /* border: 1px solid blue; */
    width: 320px;
    height: 465px;
}

.section {
    cursor: pointer;
}

.img_wrapper {
    position: relative;
}

/* 이미지 위에 텍스트 위치 시키기 */
.text {
    position: absolute;
    top: 7%;
    left: 5%;

    background-color: white;
    width: 110px;
    height: 30px;
    text-align: center;
    
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    /* border: 1px solid green; */
    width: 320px;
    height: 300px;
    border-radius: 20px;
}

.info {
    /* border: 1px solid red; */
    margin-top: 10px;
}

p {
    font-size: 15px;
    color: gray;
}

span {
    font-weight: bold;
    color: black;
}

.name {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

/* 금액 부분 */
.price_wrapper {
    margin-top: 10px;
}


.footer_wrapper {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

/* 더 찾아보기기 버튼 */
.button_wrapper {
    padding-right: 10px;
}

#more_info {
    width: 130px;
    height: 45px;
    border-radius: 5px;
    background-color: white;

    cursor: pointer;
}

#more_info:hover {
    background-color: rgb(128, 128, 128, 0.1);

}

/* 가격 조절 버튼 */
.price_button_wrapper > button {
    width: 30px;
    height: 45px;
    border-radius: 5px;
    background-color: white;
}

#inc:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

#dec:hover {
    background-color: rgb(128, 128, 128, 0.1);
}